.App {
  text-align: center;
}
.body-timer {
  margin: auto;
  margin-top: 100px;
  background-color: #f7f3e9;
  text-align: center;
  width: 500px;
  height: 300px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
